.lkt-modal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    grid-template-columns: 1fr;
    z-index: 500;
}

.lkt-modal-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--lkt-modal-back-background);
    transition: all 0.2s linear;
}

.lkt-modal .lkt-modal-inner {
    max-width: 50%;
    /*max-height: calc(100% - 60px);*/
    background: var(--lkt-modal-background);
    z-index: 1;
    /*overflow-y: hidden;*/
    border-radius: 4.5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
    transition: opacity 0.2s linear 0s, visibility 0s linear 0s;
    margin: 30px auto 0;
    max-width: var(--lkt-modal-max-width-default);
    width: var(--lkt-modal-width-default);
}

.lkt-modal.is-md > .lkt-modal-inner {
    max-width: 500px;
    width: 95%;
}

.lkt-modal.is-lg > .lkt-modal-inner {
    max-width: 800px;
    width: 95%;
}

.lkt-modal.is-xl > .lkt-modal-inner {
    max-width: 1140px;
    width: 95%;
}

.lkt-modal-content {
    padding: var(--lkt-modal-content-padding);
    height: 100%;
    /*overflow-y: auto;*/
    /*max-height: 100%;*/
    display: block;
    width: 100%;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.lkt-modal-header {
    width: 100%;
    position: sticky;
    top: 0;
    right: 0;
    background: #ffffff;
    border: 1px solid #dee2e6;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
    z-index: 10;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: var(--lkt-modal-header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lkt-modal-header_title-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "pre title";
    grid-auto-columns: min-content;
}

.lkt-modal-header_title,
.lkt-modal-header_pre-title {
    width: 100%;
    max-width: 100%;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lkt-modal-header_title {
    padding: var(--lkt-modal-title-padding);
    font-size: var(--lkt-modal-title-font-size);
    grid-area: title;
}

.lkt-modal-header_pre-title {
    padding: var(--lkt-modal-pre-title-padding);
    font-size: var(--lkt-modal-pre-title-font-size);
    font-weight: var(--lkt-modal-pre-title-font-weight);
    background: var(--lkt-modal-pre-title-background);
    color: var(--lkt-modal-pre-title-color);
    grid-area: pre;
}

.lkt-modal-header_pre-title + .lkt-modal-header_title {
    font-size: var(--lkt-modal-title-font-size-after-pre-title);
}

.lkt-modal footer .footer_footer {
    border-top: 1px solid #ccc;
    padding: 15px;
}

.lkt-modal-button-tray {
    display: flex;
    align-items: center;
    gap: 15px;
}


.lkt-modal-footer .lkt-modal-button-tray {
    border-top: 1px solid #ccc;
    width: 100%;
    display: flex;
}

.lkt-modal-footer .lkt-modal-button-tray {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.lkt-modal-inner {
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
}

.lkt-modal-header {
    grid-area: header;
}

.lkt-modal-content {
    grid-area: content;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
}

.lkt-modal-footer {
    grid-area: footer;
}