.lkt-toast-canvas {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.lkt-toast-stack {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    position: absolute;
    bottom: 0;
}

.lkt-toast-stack.is-visible {
    padding-bottom: 10px;
}

.lkt-toast-stack.right-stack.is-visible {
    padding-right: 10px;
}

.lkt-toast-stack.left-stack.is-visible {
    padding-left: 10px;
}

.lkt-toast-stack.left-stack {
    left: 0;
    align-items: flex-start;
}

.lkt-toast-stack.center-stack {
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
}

.lkt-toast-stack.right-stack {
    right: 0;
    align-items: flex-end;
}

.lkt-toast {
    padding: 15px;
    border-radius: 20px;
    background: #ffffff;
    transition: 300ms;
    width: 250px;
    border: 1px solid #d4d4d4;
}

.lkt-toast.animation-left {
    transform: translateX(-100%);
}

.lkt-toast.animation-right {
    transform: translateX(100%);
}

.lkt-toast.animation-left.is-visible,
.lkt-toast.animation-right.is-visible
{
    transform: translateX(0);
}

.lkt-toast.animation-center {
    transform: translateY(100%);
}

.lkt-toast.animation-center.is-visible
{
    transform: translateY(0);
}

.lkt-toast-inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lkt-toast-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.lkt-toast .lkt-progress {
    --lkt-progress-bar-height: 10px;
    --lkt-progress-min-height: 10px;
    --lkt-progress-bar-percentage-color: #d4d4d4;
}