.lkt-toast-canvas {
    --lkt-toast--stack--gap: 10px;
    --lkt-toast--stack--padding: 10px;

    --lkt-toast--toast--gap: 10px;
    --lkt-toast--toast--padding: 15px;
    --lkt-toast--toast--border-radius: 20px;
    --lkt-toast--toast--background: #ffffff;
    --lkt-toast--toast--transition: 300ms;
    --lkt-toast--toast--width: 250px;
    --lkt-toast--toast--border-width: 1px;
    --lkt-toast--toast--border-style: solid;
    --lkt-toast--toast--border-color: #d4d4d4;

    --lkt-toast--progress--height: 10px;
    --lkt-toast--progress--color: #d4d4d4;

    --lkt-toast--header--font-size: 16px;
    --lkt-toast--header--font-weight: 400;

    --lkt-toast--details--font-size: 14px;
    --lkt-toast--details--font-weight: 400;
}