:root {
    --lkt-toast--stack--gap: 10px;
    --lkt-toast--stack--padding: 10px;

    --lkt-toast--toast--gap: 10px;
    --lkt-toast--toast--padding: 15px;
    --lkt-toast--toast--border-radius: 20px;
    --lkt-toast--toast--bg: #ffffff;
    --lkt-toast--toast--transition: 300ms;
    --lkt-toast--toast--width: 250px;
    --lkt-toast--toast--border-width: 1px;
    --lkt-toast--toast--border-style: solid;
    --lkt-toast--toast--border-color: #d4d4d4;

    --lkt-toast--progress--height: 10px;
    --lkt-toast--progress--color: #d4d4d4;
}